.footer {
  background-color: $color-grey-light-1;
  grid-column: full-start/full-end;
}

.copyright {
  text-align: center;
  padding: 1rem 0;
  font-size: 1.4rem;
  opacity: 0.8;
  font-family: $font-roboto;
}
